html {
	font-family: "helvetica neue", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header: Anfang */

.sprach-button {
	position: absolute;
	right: 0;
}

.logo-bild{
	height: 150px;
	width: 150px;
}
.account {
	padding: 35px 20px;
	height: 80px;
	float: right;
	font-size: 24px;
	transition: .3s;
}

.account-bild{
	height: 50px;
	width: 50px;
}

.usertext{
	float: right;
	margin-top: -58px;
	padding-right: 5px;
}

.topnav {
	overflow: hidden;
	background-color: #f8d8dd;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ea8998;
	color: white;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.topnav .search-container {
	float: right;
}

.topnav .search-container .search-bild {
	float: right;
	padding: 5px;
	height: 35px;
	width: 35px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.topnav .search-container {
		float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button .search-bild {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.topnav input[type=text] {
		border: 1px solid #ea8998;
	}
}
/* Header: Ende */

/*Produkt Ansicht*/
.produkt-ansicht{
	float: left;
}


/* Bilder */
.startseite-bild {
	height: 200px;
	width: 200px;
}

.produkt-bild {
	height: 180px;
	width: 180px;
	padding: 10px 0 0 0;
	font-size: 24px;
	transition: .3s;
	margin-left: 75px;
}


.content{
	padding-left: 20px;
}

/* Buttons */
.button {
	border: 1px solid #999999;
	color: black;
	width: 140px;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button:hover {
	background-color: #ea8998;
	color: white;
}

.button-groß {
	border: 1px solid #999999;
	color: black;
	width: 185px;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button-groß:hover {
	background-color: #ea8998;
	color: white;
}

.button-liste {
	border: 1px solid #999999;
	color: black;
	width: 110px;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button-liste:hover {
	background-color: #ea8998;
	color: white;
}

.sprach-button {
	margin: 3px 3px;
}

.sprach-button:hover {
	background-color: #ea8998;
	color: white;
}

/* Tabellen */
table {
	width: 100%;
}

th {
	backgorund-color: #ccd2d3;
	padding: 5px 5px 5px 5px;
	border: 1px solid;
}

td {
	padding: 0px 5px 0px 5px;
}

tr.odd {
	background-color: #fae8e7;
}

tr.even {
	background-color: #f5d0d0;
}

.table{
	padding-top: 15px;
}

.ui-grid td {
	white-space: nowrap;
}


/* Footer: Anfang */
.footermenu {
	overflow: hidden;
	background-color: #f8d8dd;
	list-style: none;
}

.footermenu a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.footermenu a:hover {
	background-color: #ea8998;
	color: white;
}

/* Footer: Ende */
